body {
  background-color: black;
  font-family:sans-serif;
  background-image:url(https://steamuserimages-a.akamaihd.net/ugc/920291799814479551/9996ADDF37EBCB2DDB1E019C443DA24108610888/?imw=637&imh=358&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=true);

}

h1 {
  text-align: center;
  margin:5px 5px 5px 5px;
}

h2 {
  margin-top: 2px;
  margin-bottom: 3px;
  text-decoration: underline;

}

p {
  font-size: 18px;
  margin-top: 5px;
}

iframe {
  height:500px;
  width:1000px;
}

.music {
  text-align: center;
  padding-top: 300px;
  font-size: 50px;
}

.Main {
  height:300px;
}

.logo {
  padding-left: 600px;
  height:600px;
}

.title {
  border-style: solid;
  background-color: white;
}

.links {
  border-style: double;
  background-color:red;
  margin:5px 0px 5px 0px;
  padding: 2px 3px 5px 2px;
}

.enter{
  text-align: center;
  text-decoration: none;
}

.body {
  background-color:rgb(245, 0, 0);
  padding: 2px 3px 850px 2px;
  margin-left: 10px;
  margin-right: 10px;
}


.big {
  width:600px;
  height:600px;
  padding:20px 0px 0px 20px;
}

.characters {
  padding-left: 20px;
}

.school {
  float:left;
}

.school-link {
  float: left;
  padding-left: 250px;
}

.school-pics {
  padding:20px;
  width:600px;
  height:400px;
}

.metaverse {
  float:right;
  padding-top: 45px;
  padding-right: 50px;
}

.metaverse-pics {
  padding:20px;
  width:500px;
  height:300px;
}

.metaverse-link {
float:right;
padding-right: 400px;
}

.personas {
  padding: 20px;
  width:600px;
  height:400px;
}

.fighting {
  width:600px;
  height:400px;
}

.classroom {
  width:600px;
  height:400px;
}

#yusuke {
  padding-left: 350px;
}

#right {
  float:right;
}

#left {
  padding-right: 100px;
}
